<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Registrarse</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/signin">Iniciar sesión</a></li>
            <li role="presentation" ><a href="/signup">Registrarse</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Bienvenido</h3>
      </div>

      <div class="jumbotron">
        <h1 style="text-align: center;">Hospital Intranet</h1>
        <br><br>
        <form class="form-signin" action="/validateLogin" method="post">
          <form class="example-form">
            <mat-form-field class="select">
                <mat-select placeholder="Tipo de usuario" [(value)]="userType" >
                  <mat-option value="Administrador">Administrador</mat-option>
                  <mat-option value="Empleado">Doctor</mat-option>
                  <mat-option value="Cliente">Paciente</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="userType=='Administrador'">
              <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="admin.fname" name="fname" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="admin.lname" name="lname" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput [(ngModel)]="admin.email" name="email" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <mat-label>Contraseña</mat-label>
                  <input matInput [(ngModel)]="admin.password" name="password" type="password" required>
              </mat-form-field>

              <button mat-button class="button" (click)="checkAdmin()">Registrarse</button>
            </div>

            <div *ngIf="userType=='Empleado'">
              <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="employee.fname" name="fname" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="employee.lname" name="lname" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput [(ngModel)]="employee.email" name="email" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <mat-label>Teléfono</mat-label>
                  <input matInput [(ngModel)]="employee.phone" name="phone" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput [(ngModel)]="employee.password" name="password" type="password" required >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Area</mat-label>
              <input matInput [(ngModel)]="employee.area" name="area" required>
            </mat-form-field>

              <button mat-button class="button" (click)="checkEmployee()">Registrarse</button>
            </div>

            <div *ngIf="userType=='Cliente'">
              <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="client.fname" name="fname" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="client.lname" name="lname" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input matInput [(ngModel)]="client.email" name="email" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <mat-label>Teléfono</mat-label>
                  <input matInput [(ngModel)]="client.phone" name="phone" required>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput [(ngModel)]="client.password" name="password" type="password" required>
              </mat-form-field>

              <button mat-button class="button" (click)="checkClient()">Registrarse</button>
            </div>





          </form>
        </form>
      </div>
      <footer class="footer">
        <p>&copy; ERP Hospital</p>
      </footer>

    </div>
  </body>
</html>
