<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Financiera Bonos</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

    <style>
      .gj-datepicker-bootstrap [role=right-icon] button {
        height: 33px;
      }

      .box {
            margin:20px auto 40px auto;
            border:1px solid #d9d9d9;
            height:30px;
            overflow: hidden;
            width: 1172px;
            position:relative;
        }
        select {
            background: transparent;
            border: none;
            font-size: 14px;
            height: 30px;
            padding: 5px;
            width: 1172px;
        }
        select:focus{ outline: none;}

        .box::after{
            content:"\025be";
            display:table-cell;
            padding-top:7px;
            text-align:center;
            width:30px;
            height:30px;
            background-color:#d9d9d9;
            position:absolute;
            top:0;
            right:0px;
            pointer-events: none;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/signin">Cerrar sesion</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Bienvenido</h3>
        </div>

        <div class="jumbotron">
            <div class="row">
                <h1>Bienvenido {{client.fname}}!</h1>
                <br>
                <mat-button-toggle-group [(value)]="page" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle (click)="resetTmpClient()" value="profile">Perfil</mat-button-toggle>
                    <mat-button-toggle value="employees">Empleados asignados</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>

        <div *ngIf="page == 'profile'"class="row">
            <h1>Perfil</h1>

            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="tmpClient.fname" name="fname" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="tmpClient.lname" name="lname" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="tmpClient.email" name="email" value="client.email" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Teléfono</mat-label>
                <input matInput [(ngModel)]="tmpClient.phone" name="phone" value="client.phone" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput [(ngModel)]="tmpClient.password" name="password" value="client.password" required>
            </mat-form-field>

            <button mat-button class="button" (click)="checkClient()">Guardar cambios</button>
        </div>

        <div *ngIf="page == 'employees'" class="row">
            <h1>Empleados asignados</h1>
            <table mat-table [dataSource]="myEmployeesDataSource" class="mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="Fname">
                    <th mat-header-cell *matHeaderCellDef><strong>Nombre</strong></th>
                    <td mat-cell *matCellDef="let element" id="Name">
                        <span>{{element.fname}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Lname">
                    <th mat-header-cell *matHeaderCellDef><strong>Apellidos</strong></th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{element.lname}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef><strong>Email</strong></th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{element.email}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef><strong>Status</strong></th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{element.status.data[0]}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Phone">
                    <th mat-header-cell *matHeaderCellDef><strong>Teléfono</strong></th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{element.phone}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="Area">
                    <th mat-header-cell *matHeaderCellDef><strong>Area</strong></th>
                    <td mat-cell *matCellDef="let element">
                        <span>{{element.area}}</span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="myEmployeesDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: myEmployeesDisplayedColumns;"></tr>
            </table>
        </div>

        <br><br>

        <footer class="footer">
            <p>&copy; ERP Hospital</p>
        </footer>

    </div>
</body>

</html>
